.main_signup{
    position: relative;
    text-align: center;
 }
 .page1_top{
 margin-top: 5rem;
 margin-bottom: 5rem;
 text-align: center;
 }
 .background{
     margin-top: 12rem;
 }
 .page1_content{
     margin-top: -3rem;
 }
 .page1_content>.top>h1{
     width: 800px;
     justify-content: center;
     margin: auto;
     line-height: 4rem;
     font-size: 3rem;
     font-weight: 600;
     z-index: 100;
 }
 .page1_content>.top>.subtitle{
     font-size: 1.1rem;
     font-weight: 300;
     color: gray;
     line-height: 2rem;
     margin-bottom: 2rem;
 }
 .background_left{
     position: absolute;
     top: 4rem;
     width: 344px;
     height: 363px;
     background: url(https://blog-cdn.everhour.com/assets/images/new-design/background-elements/solid/oval-solid-orange-left.jpg) no-repeat;
     background-size: cover;
     z-index: -1;
 }
 .background_left_top{
     position: absolute;
 top: 4rem;
     left:11rem;
     width: 152px;
     height: 108px;
     background: url(https://blog-cdn.everhour.com/assets/images/new-design/background-elements/green-touches-right.png) no-repeat;
     background-size: cover;
     z-index: -1;
 }
 .background_right{
     position: absolute;
     right: 1rem;
     width: 250px;
     height: 485px;
     background: url(https://blog-cdn.everhour.com/assets/images/new-design/background-elements/cut-oval-dotted-orange-and-solid-green-combined.jpg) no-repeat;
     background-size: cover;
     z-index: -1;
 }
 .background_right-pricing{
    position: absolute;
  
    right: 1rem;
    width: 400px;
    height: 485px;
    background: url(https://blog-cdn.everhour.com/assets/images/new-design/background-elements/oval-green-dotted-yellow-combined.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
}
 
 .demo_background_left{
    position: absolute;
   left:8rem;
    top: 18rem;
    width: 350px;
    height: 350px;
    background: url(https://blog-cdn.everhour.com/assets/images/new-design/background-elements/solid/oval-solid-orange.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
 }
 .demo_background_right{
    position: absolute;
    top: 12rem;
    right: 4rem;
    width: 400px;
    height: 485px;
    background: url(https://blog-cdn.everhour.com/assets/images/new-design/background-elements/oval-dotted-orange-and-solid-green-combined.jpg) no-repeat;
    background-size: cover;
    z-index: -1;
 }
 .email_btn{
     
         background-color: white;
 
         width:300px;
         color: gray;
         font-size: 1rem;
         border: 1px solid gray;
 
         padding:  23px
       
 }
 .email_btn:hover{
     background-color: white;
 }
 
 .page1_bottom{
     background-color: #ebf0ed;
     font-family: 'geomanist-regular',sans-serif;
     padding: 1.5rem;
     font-weight: 400;
     color: gray;
    
     
 }
 .page1_bottom>.grids{
     display: grid;
 
     grid-template-columns: repeat(3,1fr);
     gap: 20px;
     border-radius: .5rem;
     text-align: center;
 }
 .grids>div{
     background-color: white;
     border: 1px solid rgb(139, 230, 199);
     border-radius: .5rem;
     padding: .8rem;
     position: relative;
     height: 300px;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
     cursor: pointer;
     overflow: hidden;
 }
 .grids>div:hover{
     box-shadow: rgba(0, .5, 0, 0.20) 1.95px 1.95px 2.6px;
 }
 .grids>div>span{
    position: absolute;
    bottom: 10px;
    right: 5px;
    color: blue;
 }
 .signupPage{
     margin-top: 3rem;
 }
 .signup_box{
     width: 480px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     height: 600px;
     margin: auto;
     padding: 1rem;
 }
 .signup_content{
    text-align: center;
 }
 .signup_content>h1{
     font-size: 1.5rem;
 }
 .signup_content>h3{
     color: gray;
 }
 .content_input{
     margin: 1rem;
 }
 .content_input>input{
     border: 1px solid gray;
     width: 350px;
 }
 .content_input>label{
 }
 .main_login{
    text-align: center;
 }
 .login_box{
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    margin: auto;
    text-align: center;
    padding: 1rem;
    margin-top: -2rem;
    margin-bottom: 5rem;
 }
 .login_content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
 .login_right{
    text-align: left;
    margin-top: 4.5rem;
 }
 .right_links{
    color: #4070f4;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
 }
 .right_links:hover{
    text-decoration: none;
 }
 .login_right-content{
    margin-bottom: 1rem;
    padding-right: 2rem;
    

 }
 .right_header{
    font-weight: 600;
    font-size: 1.2rem;
 }
 .login_endbtn{
    margin: 1rem;
    cursor: pointer;

    overflow: hidden;
}
.grids>div:hover{
    box-shadow: rgba(0, .5, 0, 0.20) 1.95px 1.95px 2.6px;
}
.grids>div>span{
   position: absolute;
   bottom: 10px;
   right: 5px;
   color: blue;
}
.signupPage{
    margin-top: 3rem;
}
.signup_box{
    width: 480px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 620px;
    margin: auto;
    padding: 1rem;
}
.signup_content>h1{
    font-weight: 600;
    font-size: 1.5rem;
}
.signup_content>h3{
    font-size: 1rem;
    font-weight: 500;
    color: gray;
    width: 90%;
    margin: auto;
    margin-bottom: 1.5rem;
}
.content_input{
   padding: 0 1.5rem 0 1.5rem;
}
.content_input>input{
    border: 1px solid gray;
    width: 350px;
}

.content_input>.radiobtn{
    
    display:flex;
    text-align: center;
    justify-content:space-between;
    width:90%;
    margin:.5rem;
    color: gray;
}

.login_pic{
    text-align: right;
}
.login_women{
    display:inline-block;
}
.login_endbtn{
   color: gray;
   font-weight: 400;
   text-decoration: underline;

}
.login_endbtn:hover{
    text-decoration: none;
}
.pricing_box{
    width:300px;
        padding:2rem;
        padding-top: none;
        text-align:left;
}
.pricing_title{
    font-size: 2rem;
    font-weight: 500;
}
.pricing_subtitle{
    font-size: 1.2rem;
    font-weight: 400;
    color: gray;
    
}
.pricing_ammount{
    font-size: 4rem;
    font-weight: 500;
    color: #57bb71;
}
.pricing_ammount-label{
    color: rgb(75, 70, 70);
}

.pricing_bottom{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    padding: 2rem;
    margin: 1rem;
}
.currency_drop:active{
border: none;
}
.currency_drop:focus{
    border: none;
    }

.pricing_bottom-form{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-content: space-around;
  
    width: 92%;
    gap: 5rem;
    margin: auto;
   
   
}
.demo_box{
    width:50%;
    padding:3rem;
    padding-top: none;
    text-align:left;
    margin: auto;
    background-color: white;
    
}
.demo_box:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.demo_content_header{
    margin-left: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.demo_list{
color:'red'
}