.parent{
    height: auto;
        width: 100%;
        /* border: 1px solid red; */
}
.Master{
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    gap: 80px;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
}
.Master>div{
    height: auto;
    width: 19%;
    /* border: 1px solid red; */
    
}
.Master h1{
    font-weight: 550;
    font-size: 18px;
    color: #333333;
    font-family: 'geomanist-regular',
        sans-serif;
     text-align: left;
}
.Master p{
    font-size: 18px;
        line-height: 26px;
        color: #7c7c7c;
        font-family: 'geomanist-regular',
            sans-serif;
            justify-content:flex-start;
                text-align: left;
}
.lines {
    height: auto;
    width: 50%;
    /* border: 1px solid blue; */
    margin-top: 120px;
    justify-content: center;
    text-align: center;
    padding-left: 130px;
}
.lines h1{

font-size: 30px;
    line-height: 1.22;
    /* border: 1px solid green; */
    height: auto;
    width: 85%;
    padding-top: 5px;
    justify-content: center;
    text-align: left;
    font-weight: 550;
    font-family: 'geomanist-regular',
        sans-serif;
    color: #333
}
.pgraph{
    height: auto;
        width: 51%;
        /* border: 1px solid blue; */
        margin-top: 50px;
        justify-content: center;
        text-align: center;
        padding-left: 235px;
}

.pgraph p{
    font-size: 1.125rem;;
        /* border: 1px solid green; */
        height: auto;
        width: 100%;
        padding-top: 5px;
        justify-content: center;
        text-align: left;
        font-family: 'geomanist-regular',
            sans-serif;
        color: #333
        
}
.master2{
        height: auto;
            width: 100%;
            /* border: 1px solid red; */
            
}
.image{
    height: auto;
    margin-left: 60%;
}
.image img{
  margin-top: -444px;
    /* border: 1px solid red; */
    
    
}
.spara{
    height: auto;
        width: 26%;
        /* border: 1px solid red; */
        justify-content: center;
        padding-left: 50px;
        margin-left: 180px;
        font-size: 20px;
        font-family:'geomanist-regular',
            sans-serif;
            font-weight: 400;
            color: black;
}
.sec{
    justify-content: left;
    text-align: left;
}
.heading2 h1{
    font-size: 30px;
        line-height: 1.22;
        /* border: 1px solid green; */
        height: auto;
        width: 85%;
        padding-top: 185px;
        justify-content: center;
        text-align: left;
        font-weight: 550;
        font-family: 'geomanist-regular',
            sans-serif;
        color: #333;
        padding-left: 100px;
        /* border: 1px solid red; */
    }
    .paras{
        justify-content: center;
        text-align: left;
        padding-left: 110px;
        font-family: 'geomanist-regular',
                sans-serif;
            color: #767676;
            font-size: 1.125rem;
            padding-top: 7px;
    }
        .input2 {
            /* border: 1px solid red; */
            height: auto;
            width: 100%;
            justify-content: center;
            text-align: center;
            padding-top: 30px;
            display: flex;
            padding-bottom: 100px;
            
        }
                .input2 input {
                    border: 1px solid #979797;
                    width: 49%;
                    margin-left: 40px;
                    padding-right: 158px;
                    height: 45px;
                    border-radius: 4px;
                    color: #767676;
                }
                                .input2 button {
                                    border: none;
                                    margin-left: 18px;
                                    gap: 10px;
                                    width: 21%;
                                    color: white;
                                    background-color: green;
                                    border-radius: 4px;
                                    background: #57bb71;
                                    text-transform: none;
                
                
                                }


                   /* .google2 {
                       
                       height: auto;
                       width: 100%;
                       justify-content: center;
                       text-align: center;
                       padding-top: -55px;
                       display: flex;
                       border:1px solid red
                   }
        
                   .google2 a {
                       padding-bottom: 15px;
                       margin-left: 10px;
                       margin-top: -65px;
                       font-family: 'geomanist-regular',
                           sans-serif;
                       color: #7c7c7c;
                       border: 1px solid red;
                   } */

                   .ip{
                    /* border:1px solid red; */
                    width:50%
                   }